body
{
    background-color: #303030;
    color: #ffffff;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
#containa
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle
{
    width: 960px;
    margin: 20px;
    text-align: center;
}
.square
{
    width: 50%;
    float: left;
}
#loga
{
    float: left;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
#clock
{
    float: left;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tile1:hover
{
    background-color: #2084c2;
}
.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile2:hover
{
    background-attachment: #555555;
}
.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover
{
    background-color: #82b637;
}
.tile4
{
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 26px;
    padding: 30px;
}
.tile4:hover
{
    background-color: #dd4a21;
}
.tile5
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
}
.yt
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #FF0000;
    float: left;
}
.yt:hover
{
    background-color: #EE0000;
}
.fb
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #1877F2;
    float: left;
}
.fb:hover
{
    background-color: #1766E1;
}
.ig
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    float: left;
}
.ig:hover
{
    background: #e58a2f;
    background: -moz-linear-gradient(45deg, #e58a2f 0%, #d45d38 25%, #c4213e 50%, #b11d58 75%, #9b136f 100%);
    background: -webkit-linear-gradient(45deg, #e58a2f 0%,#d45d38 25%,#c4213e 50%,#b11d58 75%,#9b136f 100%);
    background: linear-gradient(45deg, #e58a2f 0%,#d45d38 25%,#c4213e 50%,#b11d58 75%,#9b136f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e58a2f', endColorstr='#9b136f', GradientType=1);
}
.x
{
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #000000;
    font-size: 76px; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.x:hover
{
    background-color: #111111;
}
a.tilelink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}
#html4
{
    background-color: transparent; /* Ensure it's transparent to let the background image show */
    background-image: url('tlo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin: 0px;
    text-transform: uppercase;
    color: #1766E1;
}
#list
{
    width: 880px;

}